<div class="container" [class.revealed]="revealed()">
  
  <!-- Initial Screen -->
  <div *ngIf="!revealed()" class="card">
    <h1>I have something for you</h1>
    <button mat-raised-button color="primary" (click)="reveal()">
      Lets start
    </button>
  </div>

  <!-- Celebration Screen -->
  <div *ngIf="revealed()" class="celebration">
    <h1 style="color: whitesmoke;">Happy Birthday {{name}}!</h1>
    <p class="wish" style="color: whitesmoke;">Wishing you love, joy, and endless happiness</p>

    <!-- Floating Components -->
    <!-- <app-balloons></app-balloons> -->
    <!-- <app-hearts></app-hearts> -->
     <!-- <app-hearts  [trigger]="showSpecial"></app-hearts> -->
    <app-stars></app-stars>

    <!-- Special Message -->
    <button mat-raised-button color="accent" (click)= "goToMessage()">
      ❤️ Special Message
    </button>
<!-- 
    <div *ngIf="showSpecial" class="special-message" >
      <p>🌟 You are one of the most amazing people in my life.  
      May your birthday bring countless smiles and unforgettable memories. 💝</p>
    </div> -->
  </div>
</div>

